.age-gate {
 form {
  max-width: 56rem;
  height: 56rem;
  float: right;
  margin: 0 20rem;

  select {
      border: solid 1px;
      text-align: left;
  }
  h1 {
   display: none;
  }
  h2 {
   font-family: 'ChronicleDisplay-Semi';
   font-size: 3.8rem;
  }
  label {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 1.6rem;
   text-align: left;
   min-width: 15rem;
  }
  select {
   width: 15rem;
   max-width: 15rem;
   height: 5.2rem;
   border-radius: 0;
   background: transparent;
   text-indent: 1rem;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   font-family: 'Lato';
   font-size: 3rem;
   background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/04/select.png) no-repeat right;
   background-position-x: 12rem;
  }
  ol {
   width: 52rem;
   padding: 1rem 0 0 0;
  }
  .age-gate-message {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 1.8rem;
  }
  .age-gate-remember-wrapper {
   text-align: left;
   text-indent: 0.8rem;
  }
  .age-gate-remember {
   font-weight: 300 !important;
   padding: 1rem 0;
  }
  .age-gate-submit {
   background: black;
   font-family: 'ChronicleDisplay-Semi';
   font-size: 2.4rem;
   color: #fff;
   width: 26rem;
   height: 6.9rem;
   border: solid 1px;
  }
  .age-gate-additional-information {
   font-family: 'Lato';
   font-weight: 300;
   font-size: 1.6rem;
   padding-top: 1.5rem;

   a {
    color: #0a0a0a;
    text-decoration: underline;
   }
  }
  .age-gate-error-message {
   color: #c00 !important;
  }
 }
}
