.blog-classic {
 margin: 3rem 0 9rem;
 .blog-classic-title {
  margin-bottom: 0px;
  height: unset !important;
 }
 &.post-wrapper {
  overflow: visible;
 }
 .blog-classic-body {
  overflow: visible;
  padding: 1rem 0 !important;
  .post-content {
    font-size: calc((18 / 1440) * 100vw);
    font-family: 'Lato';
    font-weight: 400;
    padding: 2rem 0;
    p {
      font-size: calc((18 / 1440) * 100vw);
      font-family: 'Lato';
      font-weight: 400;
    }
  }
  .blog-button-holder {
    margin-top: -28px;
  }
  .blog-classic-paragraph {
      top: 5px;
      .ff-meta-item {
        text-decoration: underline;
      }
      .blog-button-holder {
        font-size: calc((18 / 1440) * 100vw) !important;
      }
      span {
       &:hover {
        text-decoration: none;
       }
       a {
        font-size: calc((16 / 1440) * 100vw);
        transition: all 0.5s;
        text-decoration: none !important;
        &:hover {
         opacity: 0.7;
         text-decoration: none;
        }
       }
      }
  }
 }

 h2 > a {
  font-family: 'ChronicleDisplay-Semi';
  font-size: 2.4rem;
  &:hover {
   color: #34343c;
   text-decoration: underline;
  }
 }
 .blog-classic-title {
  // text-overflow: ellipsis;
  // overflow: hidden;
  // white-space: nowrap;
  line-height: 1;
 }
 .blog-classic-subtitle {
  .post-content {
   p {
    span {
     font-family: 'Lato';
     font-weight: 400;
     font-size: 1.8rem;
    }
   }
  }
 }
 .blog-button-holder {
  a {
   padding: 0;
   float: right;
   transition: all 0.5s;
   height: 29px;
   &:before {
    content: '';
    display: block;
    background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/04/search.svg) no-repeat;
    width: 27px;
    height: 27px;
    position: absolute;
   }
   &:hover {
    span {
     text-decoration: underline;
    }
   }
   span {
    font-family: 'Lato' !important;
    font-weight: 400;
    font-size: calc((18 / 1440) * 100vw) !important;
    margin-left: 3rem;
    letter-spacing: calc((1.2 / 1440) * 100vw);
    @media (max-width: 1024px) {
     line-height: calc((38 / 1440) * 100vw);
    }
   }
  }
 }
}

.blog-grid {
  .blog-masonry-1-button-wrapper {
    width: 150px;
    float: right;
    margin-top: -55px;
  }
}

.blog-main {
 .blog-grid-content {
  padding: 7.5rem 0 6rem 0;
  h1.blog-grid-title-lg {
   font-family: 'ChronicleDisplay-Bold';
   font-size: 5rem;
   margin: 0;
   padding: 0;
  }
  .blog-grid-supplemental {
    width: 180px;
    margin: 0;
    display: inline-block;

   .blog-grid-supplemental-title {
    span[class*='ffb-date'] a {
     font-family: 'Lato';
     font-weight: 300;
     font-size: 1.2rem;
     font-style: italic;
    }
    span[class*='ffb-tags'] a {
     font-family: 'Lato';
     font-weight: 300;
     font-size: 1.2rem;
    }
   }
  }
  .post-content {
   padding: 2rem 0;
  }
  h1 {
   font-family: 'ChronicleDisplay-Semi';
   font-size: 3.8rem;
   padding: 3rem 0 0.5rem;
  }
  p {
   font-family: 'Lato';
   font-weight: 400;
   font-size: 1.8rem;
   margin: 0;
  }
  hr {
   display: none;
  }
 }
}

.ark-sidebar {
 .blog-sidebar {
  .widget-title {
   font-family: 'ChronicleDisplay-Semi';
   font-size: 2.8rem;
   border-bottom: none;
   padding: 0;
   margin: 2rem 0;
  }
  ul {
   li {
    padding: 0 1.5rem;
    & > * {
     font-family: 'Lato';
     font-weight: 300;
     font-size: 1.8rem;
     &:hover, &:focus {
      color: #000;
      text-decoration: underline;
     }
     &::selection {
      background-color: rgba(0, 0, 0, 0.2);
     }
    }
    &:before {
     content: '\f111';
     font-size: 1rem;
     line-height: 2.6rem;
    }
   }
  }
 }
}

.blogs-page-hero {
 h2 {
  font-family: 'ChronicleDisplay-Semi';
  font-size: 5rem;
  color: #fff;
 }
 p {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 2.2rem;
  color: #fff;
 }
 .blogs-hero-side {
  h2 {
   font-family: 'ChronicleDisplay-Semi';
   font-size: 2.8rem;
   color: #fff;
  }
  ul {
   li {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 1.8rem;
    color: #fff;
    margin: 0;
   }
  }
 }
}

//mobile home blog section
// @media (max-width: 768px) {
.blog-main {
 .blog-grid-content {
  padding: inherit;
  }
}
 .home-blog-section {
  h2 {
   font-family: 'ChronicleDisplay-Semi';
   font-size: calc((38 / 1440) * 100vw);
   @media (max-width: 768px) {
    font-size: calc((30 / 320) * 100vw);
   }
  }
  a {
   span.btn-text {
    font-family: 'ChronicleDisplay-Semi';
    font-size: calc((24 / 1440) * 100vw);
   }
  }
  .owl-item {
   .post-wrapper {
    .news-v12-content {
     padding: 1rem 0 0 0;
     h2.news-v12-title a {
      font-family: 'ChronicleDisplay-Bold';
      font-size: calc((21 / 320) * 100vw);
     }
     .news-v12-text {
      .post-content {
       &, p {
        color: #000;
        font-weight: 400;
        font-size: calc((16 / 320) * 100vw);
       }
      }
     }
     .blog-grid-supplemental {
      margin-top: 3rem;
      .ff-meta-item a {
       font-family: 'Lato';
       font-weight: 400;
       font-size: calc((16 / 320) * 100vw);
       color: #000;
       text-decoration: underline;
      }
     }
     .blog-button-holder {
      margin-top: calc((-26 / 320) * 100vw);
      margin-bottom: calc((26 / 320) * 100vw);
      a {
       padding: 0;
       float: right;
       background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/04/search.svg) no-repeat;
       background-size: contain;
       transition: all 0.5s;
       height: calc((29 /320) * 100vw);
       span {
        font-family: 'Lato' !important;
        font-weight: 400;
        margin-left: calc((30 /320) * 100vw);
        letter-spacing: calc((1.2 / 320) * 100vw);
        color: #000;
        font-size: calc((24 / 1440) * 100vw);
        @media (max-width: 768px) {
         font-size: calc((20 / 320) * 100vw);
        }
       }
      }
     }
    }
   }
  }
  .owl-controls {
   margin-top: 3rem;
  }
  .owl-dots {
   .owl-dot {
    margin: 0 0.5rem;
    span {
     background: #b2b2b2;
     width: 13px;
     height: 13px;
    }
   }
  }
 }
// }

.masonry-grid {
 h2 {
  a:hover {
   color: #000;
   text-decoration: underline;
  }
 }
 .ff-meta-item {
  a {
   color: #000 !important;
  }
 }
 a.ffb-btn:hover {
  text-decoration: underline;
 }
}
