.home-hero-section {
 height: 80.2rem;
 @media (max-width: 768px) {
   height: calc((537 / 320) * 100vw);
 }

 .section-content {
   margin: 22.2rem 0 0 9.5rem;
   @media (max-width: 768px) {
     margin: calc((260 / 320) * 100vw) 0 0;
   }
 }

 h2 {
   color: #fff !important;
   font-family: 'ChronicleDisplay-Bold';
   text-align: left;
   padding: 2rem 2rem 0;
   font-size: calc((50 / 1440) * 100vw);
   line-height: calc((53 / 1440) * 100vw);
   width: calc((550 / 1440) * 100vw);
   @media (max-width: 768px) {
     text-align: center;
     @include fontsize(28, 320);
     @include lineheight(30, 320);
     padding: 0 1rem 0;
     width: unset;
   }
 }

 p {
   color: #fff !important;
   @include lato(300);
   letter-spacing: 0.2px;
   font-size: calc((22 / 1440) * 100vw);
   line-height: calc((28 / 1440) * 100vw);
   padding: 0 calc((70 / 1440) * 100vw) 3rem 2rem;
   width: calc((550 / 1440) * 100vw);
   @media (max-width: 768px) {
     @include fontsize(14, 320);
     @include lineheight(20, 320);
     padding: 0;
     text-align: center;
     margin: 0 0 calc((30 / 320) * 100vw);
     width: unset;
   }
 }

 a {
   padding: 1rem 5rem 1rem 2rem;
   background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/04/header-arrow.png) no-repeat 95%;
   @media (max-width: 768px){
    padding: 0.5rem calc((35 / 320) * 100vw) 1rem 0rem;
    background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/04/full-story-arrow.svg) no-repeat 100%;
    background-size: 11%;
   }

   &:hover {
     background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/04/header-arrow.png) no-repeat 100%;
   }

   span {
     font-family: 'ChronicleDisplay-Semi';
     font-size: calc((26 / 1440) * 100vw);
     @media (max-width: 768px) {
      @include fontsize(18, 320);
     }
   }

   i {
     font-size: calc((40 / 1440) * 100vw);;

     &::before {
       position: absolute;
       top: 0;
       -webkit-transform: translate(10px, 10px);
       transform: translate(10px, 10px);
     }
   }
 }
}

@media (max-width: 768px) {
 .carousel-section {
   height: calc((538 / 320) * 100vw);

   .fg-col {
     padding: 0;

     .owl-item {
       height: calc((538 / 320) * 100vw);
       margin: 0;

       .item {
         height: calc((538 / 320) * 100vw);

          h2:nth-of-type(1) {
              padding-top: calc((212 / 320) * 100vw);
              margin: 0 0 1rem;
              font-size: calc((35 / 320) * 100vw);
          }

         h2:nth-of-type(2) {
           font-family: 'ChronicleDisplay-Light';
           font-size: calc((22 / 320) * 100vw);
           color: #fff;
           position: absolute !important;
           width: 100vw;
           bottom: 0;
           margin-bottom: 0;
           padding: 1.5rem;
         }

         p {
           font-size: calc((14 / 320) * 100vw);
           font-weight: 400;
         }

         .buttons-el-wrapper {
           position: absolute;
           width: 100vw;
           bottom: calc((120 / 320) * 100vw);

           a {
             width: calc((140 / 320) * 100vw);

             span {
               font-family: 'ChronicleDisplay-Roman';
               font-size: calc((18 / 320) * 100vw);
             }
           }
         }
       }
     }


     .owl-controls {
       position: absolute;
       width: 100vw;
       bottom: calc((85 / 320) * 100vw);

       .owl-dot {
         width: calc((20 / 320) * 100vw);
         height: calc((20 / 320) * 100vw);
         padding: calc((2 / 320) * 100vw);
         margin: 0 calc((5 / 320) * 100vw);

         span {
           width: calc((14 / 320) * 100vw);
           height: calc((14 / 320) * 100vw);
           border: none;
         }

         &:nth-of-type(1) span {
           background: $red;
         }

         &:nth-of-type(2) span {
           background: $blue;
         }

         &:nth-of-type(3) span {
           background: $purple;
         }

         &:nth-of-type(4) span {
           background: $yellow;
         }

         &.active {
           span {
             -webkit-transform: scale(1, 1);
             -moz-transform: scale(1, 1);
             transform: scale(1, 1);
           }

           border: 1px solid #444444;
           border-radius: 50%;
         }
       }
     }
   }
 }
}

@media (max-width: 420px) {
  .carousel-section .fg-col {
    .owl-item .item h2:nth-of-type(1) {
      line-height: 1.1;
      font-size: 3.8rem;
    }
    .owl-controls {
      .owl-dot {
        padding: 4px;

        span {
          width: 100%;
          height: 100%;
        }

        &.active {
          padding: 3px;
        }
      }
    }
  }
}

.expandable-row {
 overflow: hidden;
 height: calc((376 / 1440) * 100vw);

 .fg-col {
   height: calc((376 / 1440) * 100vw);
   max-height: calc((376 / 1440) * 100vw);

   &.col-md-8 {
     padding: 0 7.4rem;
   }
 }

 .expandable-image {
   p {
     @include lato(300);
     font-size: 2.2rem;
     color: #050505;
     margin: 0 0 4rem 0;
     width: 60rem;
   }

   h1 {
     margin-bottom: 1rem;

     p {
       @include lato(300);
       font-size: 3.9rem;
       line-height: 5rem;
       color: #fff;
       margin: 7rem 0 0 0;
       letter-spacing: 0.28rem;
       width: 60rem;
     }
   }

   a {
     height: 4.7rem;
     width: 15.8rem;
     padding: 1rem 0;

     span {
       font-family: 'ChronicleDisplay-Semi';
       font-size: 2.2rem;
       line-height: 1;
     }
   }
 }

 .expandable-description {
   padding: 3rem;

   h1 {
     font-family: 'ChronicleDisplay-Roman';
     font-size: 3.8rem;
     line-height: 1;
     color: #050505;
     margin: 0;
   }

   p {
     @include lato(300);
     font-size: 1.8rem;
     color: #050505;
     margin: 4rem 0;
   }

   a {
     height: 4.7rem;

     span {
       font-family: 'ChronicleDisplay-Roman';
       font-size: 2.2rem;
       line-height: 1;
     }
   }
 }

 .expandable-product {
   .fg-col {
     p:first-child {
       font-family: 'ChronicleDisplay-Semi';
       font-size: 2.4rem;
     }

     p:last-child, a span {
       @include lato(400);
       font-size: 2rem;
     }

     a {
       padding: 0;

       span {
         padding: 0 0 0 3rem;
       }

       i {
         position: absolute;
         background: black;
         padding: 0.7rem;
         border-radius: 50%;
         color: #fff;
       }
     }
   }

   .expandable-product-image {
     & > div {
       padding: 0;
     }

     h1 {
       white-space: nowrap;
       font-family: 'ChronicleDisplay-Semi';
       font-size: 3.8rem;
       color: #fff;
       margin: 0 -100%;
       -webkit-transform: rotate(-90deg);
       transform: rotate(-90deg);
     }

     .home-shop-now {
      position: absolute;
      bottom: calc((24 / 1440) * 100vw);
      margin: auto;
      width: 100%;
      a {
       &:before {
        content: '';
        display: block;
        background: url(https://www.commoncitizen.com/brand/wp-content/uploads/2019/05/magnifier_white.svg) no-repeat;
        background-size: contain;
        width: calc((27 / 1440) * 100vw);
        height: calc((27 / 1440) * 100vw);
        margin: auto;
       }
       span {
        padding: 0;
        font-family: 'Lato';
        font-weight: 300;
        font-size: calc((18 / 1440) * 100vw);
       }
      }
     }
   }
 }
}

.find-your-moment-row {
 height: calc((447 / 1440) * 100vw);

 .find-your-moment-col {
   height: calc((447 / 1440) * 100vw);
 }

 @media (max-width: 420px) {
   height: calc((488 / 320) * 100vw);
   .find-your-moment-col {
     height: calc((488 / 320) * 100vw);
   }
 }
 color: #fff;

 h1 {
   font-family: 'ChronicleDisplay-Bold';
   font-size: calc((50 / 1440) * 100vw);
   line-height: calc((54 / 1440) * 100vw);
   @media (max-width: 420px) {
     font-size: 3.3rem;
     line-height: 3.2rem;
     width: 25rem;
     margin-top: calc((38 / 320) * 100vw);
   }
 }

 p {
   @include lato(400);
   font-size: calc((22 / 1440) * 100vw);
   padding: 0 calc((120 / 1440) * 100vw) 2rem 0;
   width: calc((530 / 1440) * 100vw);
   @media (max-width: 420px) {
     font-weight: 300;
     font-size: 1.9rem;
     padding: 0 5rem 2rem 0;
   }
 }

 @media (max-width: 420px) {
   .buttons-el-wrapper {
     position: absolute;
     bottom: calc((47 / 320) * 100vw);
   }
 }

 a {
   padding: 0.85rem 2.62rem;

   span {
     font-family: 'ChronicleDisplay-Semi';
     font-size: 2.4rem;
     line-height: 3.3rem;
     @media (max-width: 420px) {
       font-size: 2.3rem;
     }
   }
 }
}

.our-store-row {
 margin-bottom: 100px;
 @media (max-width: 1400px) {
  margin-bottom: 120px;
 }
 @media (max-width: 1240px) {
  margin-bottom: 150px;
 }
 h2 {
   font-family: 'ChronicleDisplay-Semi';
   font-size: calc((38 / 1440) * 100vw);
   @media (max-width: 768px) {
     font-size: calc((28 / 320) * 100vw);
   }
   margin: 0;
 }

 .heading-v1 {
   margin: 0;
 }

 .heading-v1-subtitle {
   p {
     @include lato(700);
     font-style: normal;
     font-size: calc((18 / 1440) * 100vw);
     @media (max-width: 768px) {
       font-size: calc((14 / 320) * 100vw);
       max-width: 100vw;
       width: 100vw;
     }
   }
 }

 .fg-paragraph p {
   @include lato(400);
   font-size: calc((17 / 1440) * 100vw);
   @media (max-width: 768px) {
     font-size: calc((14 / 320) * 100vw);
     margin-bottom: calc((20 / 320) * 100vw);
   }
 }
 a {
  span.btn-text {
   font-family: 'ChronicleDisplay-Semi';
   font-size: calc((24 / 1440) * 100vw);
   @media (max-width: 768px) {
    font-size: calc((22 / 320) * 100vw);
   }
  }
 }
}
