html {
 font-size: 10px;
 // -webkit-font-smoothing: antialiased;
}
.back-to-top-theme.back-to-top-fade-out {
    opacity: 0.8 !important;
}
.back-to-top-theme {
    background: #050505 !important;
}

::selection{
	background:#999999 !important;
}
::-webkit-selection{
	background:#999999 !important;
}
::-moz-selection{
	background:#999999 !important;
}

/*
html {
 font-size: calc(5px + (10 - 5) * ((100vw - 400px) / (1600 - 420)));
} 
*/

/* if firefox less bolden text */
// body.firefox 
// {
//     p {
//         font-weight: 300;
//     }
//     // .btn-text {

//     // }
//     .our-store-row .fg-paragraph p {
//         font-weight: 300;
//     }
//     .nav-bar .main-menu a span {
//         font-family: 'ChronicleDisplay-semi';
//     }
//     .nav-bar .right-menu a:nth-child(1) span {
//         font-weight: 300;
//     }
//     // .home-hero-section a span {
//     //     font-weight: 
//     // }
//     .moments-section-2 .section-heading p {
//         font-weight: 300;
//     }
// }

