.our-story-section-1 {
 .our-story-section-1-copy {
  h2 {
   color: #050505;
   text-align: left;
   margin-bottom: 0;
   font-family: 'ChronicleDisplay-Bold';
   font-size: calc((50 / 1440) * 100vw);
   line-height: calc((54 / 1440) * 100vw);

    @media screen and (max-width: 767px) {
      font-size: calc((28 / 320) * 100vw);
      line-height: calc((30 / 320) * 100vw);
      text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 5.2rem;
      line-height: 1.2;
      text-align: center;
    }
    
  }
  p {
    font-size: calc((22 /1440) * 100vw);

    @media screen and (max-width: 767px) {
      font-size: calc((14 / 320) * 100vw);
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 2.8rem;
      line-height: 1.5;
    }
  }
 }
}

.our-story-section-2 {
 .our-story-slide-2 {
  .our-story-slide-2-copy {
   h2 {
    font-size: calc((48 / 1440) * 100vw);
    line-height: calc((55 / 1440) * 100vw);
   }
  }
 }
 @media (min-width: 420px) and (max-width: 768px) {
  .carousel-slides .section-heading {
   margin: 10px auto;
  }
 }
}

.our-story-section-4 {
 height: calc((489 / 320) * 100vw);
 @media (max-width: 420px) {
   height: auto;
   padding-bottom: 50px;
 }
}

.our-story-section-5 {
 height: calc((676 / 1440) * 100vw) !important;
 & > div > div > div {
  height: calc((676 / 1440) * 100vw) !important;
 }
 @media (max-width: 768px) {
  height: calc((689 / 320) * 100vw) !important;
 }
 @media (max-width: 420px) {
   height: auto;
   padding-bottom: 50px;
 }
 .our-story-section-4-copy {
  section.section-heading {
   margin: 0;
  }
  h2 {
   font-family: 'ChronicleDisplay-Semi';
   font-size: calc((50 / 1440) * 100vw);
   line-height: calc((49 / 1440) * 100vw);
   text-align: left;
   color: #fff;
   @media (max-width: 768px) {
    font-family: 'ChronicleDisplay-Bold';
    font-size: calc((28 / 320) * 100vw);
    line-height: calc((32 / 320) * 100vw);
   }
  }
  p {
   font-family: 'Lato';
   font-weight: 400;
   font-size: calc((18 / 1440) * 100vw);
   line-height: calc((24 / 1440) * 100vw);
   text-align: left;
   color: #fff;

   @media screen and (max-width: 768px) {
    font-size: calc((14 / 320) * 100vw);
    line-height: calc((18 / 320) * 100vw);
   }
   @media screen and (min-width: 769px) and (max-width: 1200px) {
    font-size: calc((22 / 1440) * 100vw);
    line-height: calc((26 / 1440) * 100vw);
   }
  }
  a {
   span {
    font-family: 'ChronicleDisplay-Semi';
    font-size: calc((24 / 1440) * 100vw);
    @media (max-width: 768px) {
     font-size: calc((22 / 320) * 100vw);
    }
   }
  }
 }
}