@mixin lato($weight) {
 font-family: 'Lato';
 font-weight: $weight;
}

@mixin latoImportant($weight, $size) {
 font-family: 'Lato' !important;
 font-weight: $weight !important;
 font-size: $size !important;
}

@mixin fontsize($size, $screenWidth) {
 font-size: calc((#{$size} / #{$screenWidth}) * 100vw);
}

@mixin lineheight($height, $screenWidth) {
 line-height: calc((#{$height} / #{$screenWidth}) * 100vw);
}

$blue: #01A4E0;
$red: #EF3842;
$purple: #7873D1;
$yellow: #F2A71E;
