.ffb-id-317s18ag svg {
  width: 100%;
  height: 100%;
}

// .investors-section-1-copy h2, .investors-section-1-copy .ffb-id-315ldjk8,
// #gform_5 #gform_fields_5 #field_5_1 .gfield_label, #gform_5 #gform_fields_5 #field_5_2 .gfield_label, 
// #gform_5 #gform_fields_5 #field_5_5 .gfield_label {
//   color: #050505;
// }

.common-states-section-2 h2 {
  color: #fff !important;
}

.post-content .home-blog-section {
  padding-top: 50px;
}

.home .post-content .home-blog-section {
  padding-top: 0px !important;
}

.post-content .common-states-section-2 .ff-el-icons {
  margin-top: -45px;
}

.post-content .common-states-section-2 .animate-icon-wrap {
  width: 30px;
  height: 30px;
}

.post-content .common-states-section-2 .animate-icon .animate-icon-item {
  transition: none;
  padding: 8px 0px;
  font-size: 14px;
  margin-top: 0px !important;
}

.section-terms {
  padding-bottom: 30px;
}

.woocommerce ul.products li.product .button {
  padding-right: 0px;
}

@media (min-width: 992px) {
  .woocommerce div.product form.cart.variations_form .variations select {
    display: none !important;
  }
}

@media (max-width: 768px) {
  .fg-text-light .ffb-form-2, .ffb-id-315rd5vg {
    max-width: 380px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-footer p {
    text-align: center;
    font-size: 1.6rem;
  }
  .ffb-id-318js62u .ffb-sub-title-2, .ffb-id-318js62v, .ffb-id-318js63c {
    margin-left: auto;
    margin-right: auto;
  }
  .ffb-id-318js63c .fg-paragraph {
    max-width: 50rem;
  }
  .ffb-id-315rd5ve .fg-image .fg-text-dark {
    height: 50px;
  }
  .ffb-id-315kbrbu .fg-vcenter {
    vertical-align: top;
  }
  .ffb-id-315n388d {
    padding-top: 15px;
  }
  .ffb-id-315nis7u, .ffb-id-31bc03ru {
    text-align: right
  }
  .post-content .video-container .ff-el-icons {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
  }
  .page-id-1604 .common-states-hero, .page-id-1946 .common-states-hero {
    background-color: #f9f9f9 !important;
  }
  .page-id-1925 .common-states-hero {
    background-color: #f4f4f4 !important;
  }
  .page-id-1944 .common-states-hero {
    background-color: #eee !important;
  }
  .common-states-hero {
    overflow: hidden;
  }
  .page-id-1604 .common-states-hero .fg-bg {
    margin-top: 30px;
  }
  .page-id-1604 .common-states-hero .fg-paragraph {
    padding-top: 50px;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) {
  .blog-classic .blog-button-holder a span {
    display: block;
    margin-top: 4px;
  }
  .ffb-id-343bnlgq .find-something {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

@media (min-width: 736px) and (max-width: 768px) {
  .ffb-id-30rd5pms .ffb-id-30rd85mi, .ffb-id-30rd5pms .ffb-id-31ale9v5, .ffb-id-30rd5pms .ffb-id-31ale8ir, .ffb-id-30rd5pms .ffb-id-31ale5l3 {
    min-height: 400px;
  }
  .ffb-id-318sj58u .masonry-grid .masonry-grid-item {
    width: 50% !important;
  }
  .ffb-id-318sj58u .masonry-wrapper {
    margin: 15px 15px;
  }
  .ffb-id-318sj58s {
    padding-top: 30px;
  }
  .blogs-page-hero h2 {
    line-height: 4rem;
    font-size: 39px;
  }
  .ffb-id-31al2iqt, .ffb-id-31ao8t78, .ffb-id-318vpo01, .ffb-id-318vpo1g, .page .blogs-page-hero .heading-v1 {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }
  .ffb-id-311aa3n0 {
    height: auto !important;
  }
  .page-id-1604 .common-states-hero .fg-bg, .common-states-hero .fg-bg {
    margin-top: 12vh;
  }
  .common-states-hero .fg-paragraph {
    padding-top: 100px;
  }
  .page-id-1944 .common-states-hero .fg-bg span.fg-bg-type-image {
    background-size: cover;
  }
  .ffb-id-31ato923 img {
    width: 65px !important;
    height: 65px !important;
  }
  .ffb-id-31atdtt1 img {
    width: 65px !important;
    height: 65px !important;
  }
  .ffb-id-318tue6k {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-id-3667 h1 {
    line-height: 4rem;
    font-size: 39px;
    margin-bottom: 15px;
  }
  .ffb-id-31al6c0u .fg-container-lvl--1, .ffb-id-31ao8t73 .fg-container-lvl--1, .ffb-id-31aohm31 .fg-container-lvl--1 {
    width: 70%;
  }
  .store-hours {
    max-width: 320px;
  }
  .our-story-section-2 .carousel-slides .section-heading {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }
  .our-story-section-2 .carousel-slides > .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  .our-story-section-2 .our-story-slide-3 .our-story-slide-3-img img, .our-story-section-2 .our-story-slide-4 .our-story-slide-4-copy h2 {
    margin-top: 0px;
  }
  .ffb-id-322jv6fs {
    height: calc((600 / 320) * 100vw) !important;
  }
}

@media only screen and (min-width: 769px) {
  .page-footer #gform_6 .gform_footer input#gform_submit_button_6 {
    padding: 5px 28px !important;
    min-width: 141px;
  }
  .gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
    background: black;
    width: auto !important;
    height: inherit !important;
    font-size: 20px;
    padding: 8px 30px;
    font-weight: 300;
    line-height: 1.4;
    border: 1px solid;
  }
  .gform_wrapper .gform_footer input[type=submit] {
    margin-right: 0px;
    min-width: 141px;
  }
  .gform_wrapper textarea.medium {
      height: 177px;
      box-shadow: none;
  }
  // #gform_5 #gform_fields_5 #field_5_6 textarea {
  //   box-shadow: none;
  //   border: 1px solid #050505;
  // }
  // #gform_5 #gform_fields_5 #field_5_1 > div input, #gform_5 #gform_fields_5 #field_5_2 > div input, #gform_5 #gform_fields_5 #field_5_5 > div input {
  //   height: 50px;
  //   box-shadow: none;
  //   border: 1px solid #050505;
  // }
  // .ffb-id-31npg3if {
  //   margin-top: 40px;
  //   margin-bottom: 40px;
  //   margin-left: 0px;
  //   width: 84%
  // }
  // #gform_5 .gform_footer {
  //   margin-top: 0px;
  // }

  // #gform_5 #gform_fields_5 #field_5_1 {
  //   width: 33%;
  // }
  // #gform_5 #gform_fields_5 #field_5_2 {
  //   width: 40%;
  // }
  // #gform_5 #gform_fields_5 #field_5_5 {
  //   width: 27%;
  //   padding-right: 16px !important;
  // }

  .page-id-3829 .ffb-id-3162obcn .ffb-button1-1.ffb-block-button-4-0.btn-base-brd-slide,
  .page-id-3829 .ffb-id-31630hcb .ffb-button1-1.ffb-block-button-4-0.btn-base-brd-slide {
    color: #050505;
    border: 1px solid #050505;
    background: transparent;
    padding: 5px 26px;
    font-size: 20px !important;
    min-width: 131px;
  }

  .page-id-3829 .ffb-id-3162obcn .ffb-button1-1.ffb-block-button-4-0.btn-base-brd-slide:hover,
  .page-id-3829 .ffb-id-31630hcb .ffb-button1-1.ffb-block-button-4-0.btn-base-brd-slide:hover {
    color: #fff;
    background:#050505;
  }
}
