// ------------------------------------
// PAGE - Terms / privacy policy
// ------------------------------------
.section-terms {
  $tab-width: 50px;

  h2, h3 {
    font-family: custom-font-family-1, Arial, sans-serif !important;
  }

  h2 {
    font-size: 30px;

    @media screen and (min-width: 1200px) {
      font-size: 38px;
    }
  }

  h3 {
    color: #656565;
    font-size: 25px;
    padding-left: $tab-width;

    @media screen and (min-width: 1200px) {
      font-size: 31px;
    }
  }

  h4 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 20px;
    text-decoration: underline;

    @media screen and (min-width: 1200px) {
      font-size: 28px;
    }
  }

  p,
  li {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Lato', Arial, sans-serif;
  }

  ul, ol, p {
    margin-bottom: 2em;
  }

  ul, ol {
    padding-left: $tab-width;

    li {
      padding-left: $tab-width;
    }
  }

  .tabbed {
    padding-left: $tab-width;
  }
}


// ------------------------------------
// PAGE - Our story
// ------------------------------------
.page .our-story-section-2 .our-story-slide-2 .our-story-slide-2-copy h2,
.page .our-story-section-5 .our-story-section-5-copy .our-story-section-5-sub-copy p {
  white-space: normal;
}

@media (max-width: 420px) {
  .page .our-story-slide-2-copy .section-heading {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .page .our-story-section-2 .our-story-slide-2 .our-story-slide-2-copy h2 {
    line-height: 1.2 !important;
  }

}

@media (min-width: 541px) and (max-width: 767px) {
  .page .our-story-slide-2-copy .section-heading {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}


// ------------------------------------
// COMMON STATES
// - common styles for daily dose, sweet relief, unplug and time to shine
// ------------------------------------
.common-states-vid-section {
  .play-btn {
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 100%;

    a {
      width: 27px;
      line-height: 24px;
      height: 27px;
      font-size: 1.5rem;
      padding-left: 1px;
    }
  }
}

@media (max-width: 991px) {
  .common-states-vid-section .play-btn {
    bottom: 35px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .common-states-vid-section .play-btn a {
    width: 50px;
    line-height: 47px;
    height: 50px;
    font-size: 3rem;
    padding-left: 2px;
  }
}

@media (min-width: 992px) {
  .common-states-vid-section .play-btn a {
    width: 31px;
    line-height: 31px;
    height: 31px;
    font-size: 2rem;
    padding-left: 2px;
  }
}


.common-states-section-4 .gform_footer.top_label {
  margin: 0;
  pointer-events: none;

  input {
    pointer-events: auto;
  }
}

@media (min-width: 541px) and (max-width: 768px) {
  .common-states-hero .fg-bg .fg-bg-type-image {
    background-position: center -20vh !important;
  }
  .common-states-hero .hero-p {
    margin-top: calc((240 / 320) * 100vw);
    font-size: 2.2rem !important;
  }
  .common-states-hero .hero-text {
    margin-left: auto;
    margin-right: auto;
  }
}

// ------------------------------------
// BLOG - base styles
// ------------------------------------
.single-post .post-wrapper {
  *::selection,
  *::-webkit-selection,
  *::-moz-selection {
    background-color: rgba(0, 0, 0, 0.2);
  }

  a,
  a:visited,
  a:hover {
    color: #0044e4 !important;
  }
}


// ------------------------------------
// Custom accordion
// ------------------------------------
.custom-accordion .panel-default {
  border-bottom: 1px solid #BFBFBF;

  &:first-of-type {
    border-top: 1px solid #BFBFBF;
  }

  .panel-heading {
    box-shadow: none;
    margin-bottom: 0;
  }

  .ffb-title:after {
    border: 1px solid #000;
    border-radius: 50%;
    display: inline-block;
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 38px;
    margin-top: -20px;
  }
}

// Responsive (Old code)
@media (min-width: 992px) and (max-width: 1265px) {
  .moments-section-1 .moments-section-1-copy .moments-section-1-sub-copy {
    h2 {
      font-size: 3.3rem;
    }

    > div p:nth-of-type(1),
    > div p:nth-of-type(2) {
      height: auto;
      margin-bottom: 1em;
    }
  }
}

@media (min-width: 992px) and (max-width: 1311px) {
  .questions-heading {
    height: 2.5em;
  }
}

@media (min-width: 992px) and (max-width: 1330px) {
  .home .expandable-row {
    height: 33vw;
  }

  .home .expandable-row .fg-col {
    height: 33vw;
    max-height: 33vw;
  }

  .home .expandable-row .expandable-image h1 p {
    margin-top: 4rem;
    font-size: 3.3rem;
    line-height: 1.2;
  }

  .home .expandable-row .expandable-image p {
    width: 100%;
    // font-size: 1.9rem;
    font-size: calc((19 / 1440) * 100vw);
  }

  .home .expandable-row.section-daily-dose .fg-col.col-md-8,
  .home .expandable-row.section-unplug .fg-col.col-md-8 {
    padding-left: 10vw;
    padding-right: 4rem;
  }

  .home .expandable-row.section-sweet-relief .fg-col.col-md-8,
  .home .expandable-row.section-time-to-shine .fg-col.col-md-8 {
    padding-right: 12vw;
    padding-left: 4rem;
  }
}
