@import 'mark/contact';

@mixin lato($weight) {
    font-family: 'Lato';
    font-weight: $weight;
}
@mixin lato($weight) {
    font-family: 'Lato';
    font-weight: $weight;
}

.mfp-wrap.mfp-close-btn-in.mfp-img-mobile.mfp-ready {
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100% !important;
    width: 100%;
    position: fixed !important;
    top: auto !important;

    .mfp-container.mfp-image-holder.mfp-s-ready {
        position: absolute;
        top: 50% !important;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mfp-content {
        max-width: 100% !important;

        button.mfp-close {
            position: fixed;
            top: 0;
            right: 0;
        }
    }

    .mfp-preloader {
        display: none;
    }
}

.ffb-id-2v33cmc6 {
	.fg-bg {
		span {
			height: 80rem;
			@media (max-width: 540px) {
				height: 64rem;
			}
		}
	}
}

.our-story-section-1 {
    height: 83rem;
    @media (max-width: 768px) {
        height: 1024px;
    }
    @media (max-width: 540px) {
        height: 680px;
    }
    @media (max-width: 400px) {
    	height: 640px;
    }
    span {
        background: #f6f6f6;
        span {
            transform: translate(0,3rem);
            @media (max-width: 540px) {
                transform: translate(0,0);
            }
        }
    }
    .our-story-section-1-copy {
        p {
            @include lato(400);
            color: #050505;
            //font-size: 2.2rem;
            //line-height: 2.6rem;
            letter-spacing: 0.04px;
            text-align: left;
            margin-top: 4rem;
            @media (max-width: 768px) {
                //font-size: 1.4rem;
                //line-height: 2rem;
                letter-spacing: -0.03px;
                text-align: center;
                margin-top: 2rem;
            }
        }
    }
}