
@font-face {
 font-family: 'ChronicleDisplay-Light';
 src: url('ChronicleDisplay-Light.eot?#iefix') format('embedded-opentype'),  url('ChronicleDisplay-Light.otf')  format('opentype'), url('ChronicleDisplay-Light.woff2') format('woff2'),
     url('ChronicleDisplay-Light.woff') format('woff'), url('ChronicleDisplay-Light.ttf')  format('truetype'), url('ChronicleDisplay-Light.svg#ChronicleDisplay-Light') format('svg');
 font-weight: normal;
 font-style: normal;
}
