@font-face{font-family:'ChronicleDisplay-Bold';src:url("ChronicleDisplay-Bold.eot?#iefix") format("embedded-opentype"),url("ChronicleDisplay-Bold.otf") format("opentype"),url("ChronicleDisplay-Bold.woff2") format("woff2"),url("ChronicleDisplay-Bold.woff") format("woff"),url("ChronicleDisplay-Bold.ttf") format("truetype"),url("ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold") format("svg");font-weight:normal;font-style:normal}
