@font-face{font-family:'ChronicleDisplay-Semi';src:url("ChronicleDisplay-Semi.eot?#iefix") format("embedded-opentype"),url("ChronicleDisplay-Semi.otf") format("opentype"),url("ChronicleDisplay-Semi.woff2") format("woff2"),url("ChronicleDisplay-Semi.woff") format("woff"),url("ChronicleDisplay-Semi.ttf") format("truetype"),url("ChronicleDisplay-Semi.svg#ChronicleDisplay-Semi") format("svg");font-weight:normal;font-style:normal}
