@media (max-width: 768px) {
  .common-states-hero .fg-container {
    padding-top: 0; }
  .common-states-hero .fg-bg span.fg-bg-type-image {
    -webkit-transform: translate(0);
    transform: translate(0); }
  .common-states-hero .info-row {
    margin: 0.5rem 0; }
  .common-states-hero .btn-base-brd-slide {
    white-space: unset !important; }
  .common-states-hero .info-icon {
    margin: 0 auto !important;
    font-size: 2.2rem !important;
    border-width: 3px !important;
    line-height: 2.2rem !important;
    width: 3rem !important;
    height: 3rem !important;
    padding: 0 !important; } }

@media (max-width: 768px) {
  .common-states-hero .fg-container {
    padding-top: 0; }
  .common-states-hero .fg-bg span.fg-bg-type-image {
    -webkit-transform: translate(0);
    transform: translate(0); }
  .common-states-hero .info-row {
    margin: 0.5rem 0; }
  .common-states-hero .btn-base-brd-slide {
    white-space: unset !important; }
  .common-states-hero .info-icon {
    margin: 0 auto !important;
    font-size: 2.2rem !important;
    border-width: 3px !important;
    line-height: 2.2rem !important;
    width: 3rem !important;
    height: 3rem !important;
    padding: 0 !important; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  /*******************************/
  /***  Common to all stories  ***/
  /*******************************/
  .common-states-hero .fg-container {
    padding-top: 3.5rem; }
  .common-states-hero .heading-v1 p {
    margin-left: auto;
    margin-right: auto; }
  .common-states-hero .fg-bg {
    margin-top: 0; }
  .common-states-hero .fg-paragraph {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh; }
  .stories-vid-headline {
    font-size: calc((16 / 130) * 100vw) !important; }
  /********************/
  /***  Daily Dose  ***/
  /********************/
  .fg-daily-dose-paragraph {
    margin-top: 56vh !important; } }
