.mfp-wrap.mfp-close-btn-in.mfp-img-mobile.mfp-ready {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100% !important;
  width: 100%;
  position: fixed !important;
  top: auto !important; }
  .mfp-wrap.mfp-close-btn-in.mfp-img-mobile.mfp-ready .mfp-container.mfp-image-holder.mfp-s-ready {
    position: absolute;
    top: 50% !important;
    left: 50%;
    transform: translate(-50%, -50%); }
  .mfp-wrap.mfp-close-btn-in.mfp-img-mobile.mfp-ready .mfp-content {
    max-width: 100% !important; }
    .mfp-wrap.mfp-close-btn-in.mfp-img-mobile.mfp-ready .mfp-content button.mfp-close {
      position: fixed;
      top: 0;
      right: 0; }
  .mfp-wrap.mfp-close-btn-in.mfp-img-mobile.mfp-ready .mfp-preloader {
    display: none; }

.ffb-id-2v33cmc6 .fg-bg span {
  height: 80rem; }
  @media (max-width: 540px) {
    .ffb-id-2v33cmc6 .fg-bg span {
      height: 64rem; } }

.our-story-section-1 {
  height: 83rem; }
  @media (max-width: 768px) {
    .our-story-section-1 {
      height: 1024px; } }
  @media (max-width: 540px) {
    .our-story-section-1 {
      height: 680px; } }
  @media (max-width: 400px) {
    .our-story-section-1 {
      height: 640px; } }
  .our-story-section-1 span {
    background: #f6f6f6; }
    .our-story-section-1 span span {
      transform: translate(0, 3rem); }
      @media (max-width: 540px) {
        .our-story-section-1 span span {
          transform: translate(0, 0); } }
  .our-story-section-1 .our-story-section-1-copy p {
    font-family: 'Lato';
    font-weight: 400;
    color: #050505;
    letter-spacing: 0.04px;
    text-align: left;
    margin-top: 4rem; }
    @media (max-width: 768px) {
      .our-story-section-1 .our-story-section-1-copy p {
        letter-spacing: -0.03px;
        text-align: center;
        margin-top: 2rem; } }
