@media (max-width: 768px) {
  .common-states-hero {
    .fg-container {
      padding-top: 0;
    }

    .fg-bg {
      span.fg-bg-type-image {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }

    .info-row {
      margin: 0.5rem 0;
    }

    .btn-base-brd-slide {
      white-space: unset !important;
    }

    .info-icon {
      margin: 0 auto !important;
      font-size: 2.2rem !important;
      border-width: 3px !important;
      line-height: 2.2rem !important;
      width: 3rem !important;
      height: 3rem !important;
      padding: 0 !important;
    }
  }
}

@media (max-width: 768px) {
  .common-states-hero {
    .fg-container {
      padding-top: 0;
    }

    .fg-bg {
      span.fg-bg-type-image {
        -webkit-transform: translate(0);
        transform: translate(0);
      }
    }

    .info-row {
      margin: 0.5rem 0;
    }

    .btn-base-brd-slide {
      white-space: unset !important;
    }

    .info-icon {
      margin: 0 auto !important;
      font-size: 2.2rem !important;
      border-width: 3px !important;
      line-height: 2.2rem !important;
      width: 3rem !important;
      height: 3rem !important;
      padding: 0 !important;
    }
  }
}
