@media screen and (min-width: 768px) and (max-width: 991px) {

  /*******************************/
  /***  Common to all stories  ***/
  /*******************************/

  .common-states-hero .fg-container {
    padding-top: 3.5rem;
  }

  .common-states-hero .heading-v1 p {
    margin-left: auto;
    margin-right: auto;
  }

  .common-states-hero .fg-bg {
    margin-top: 0;
  }

  .common-states-hero .fg-paragraph {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50vh;
  }

  .stories-vid-headline {
    font-size: calc((16 / 130) * 100vw) !important;
  }

  /********************/
  /***  Daily Dose  ***/
  /********************/

  .fg-daily-dose-paragraph {
    margin-top: 56vh !important;
  }
}
