<template>
  <div class="cart-detail row align-items-start py-2">
    <div class="col col-sm-8">
      <div class="row">
       <div class="item-img">
        <img v-if="cartImg" :src="cartImg" class="img-fluid">
       </div>
       <div class="col title-col">
        <h3 class="product-title">{{ cartTitle }}</h3>
        <h3 v-if="cartVariant" class="product-variant">{{ cartVariant }}</h3>
       </div>
      </div>
    </div>

    <div class="col col-sm-2 align-items-center">
        <div>
          <div class="quantity">
           <div class="selector">
            <div class="row">
             <div class="col">{{ cartQuantity }}</div>
             <div class="col"><div class="up"></div><div class="down"></div></div>
            </div>
           </div>
           <p>Remove</p>
          </div>
        </div>
    </div>

    <div class="col col-sm-2">
        <div>
          <div class="price">${{ cartPrice }}</div>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    cart: {
      type: Object,
      default: () => ''
    }
  },
  data() {
    return {
    }
  },
  computed: {
    cartTitle() {
      return this.cart.name
    },
    cartPrice() {
      return this.cart.price * this.cart.quantity
    },
    cartImg() {
      return this.cart.image
    },
    cartQuantity() {
      return this.cart.quantity
    },
    cartVariant() {
      return this.cart.variant
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.row {
 display: flex;
 margin-left: 0;
 margin-right: 0;
 flex-direction: row;
 &.cart-detail {
  padding: 2em 0;
  border-bottom: 2px solid #ccc;
 }

 .col {
  display: inherit;
  flex-direction: column;

  h3 {
   margin: 0;
  }

  .title-col {
   margin-left: 1em;
   justify-content: space-between;
  }

  .product-title, .price, .quantity {
   font-family: 'Lato';
   font-size: 1.5em;
   font-weight: 400;
   line-height: 1;
  }
  
  .product-variant {
    min-width: 100px;
    max-width: 100px;
    border: 1px solid #000;
    font-size: 1em;
    font-weight: 400;
    text-align: center;
    padding: 0.5em 0;
  }

  .price {
   text-align: center;
  }
  .quantity {
   width: 80px;
  }

  .selector {
   border: 1px solid #000;
   margin-bottom: 0.5em;
   .row {
    justify-content: space-between;
    padding: 0.5em 0;
   }
   .up, .down {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    width: 10px;
    height: 10px;
   }
   .up {
    transform: rotate(45deg);
   }
   .down {
    transform: rotate(225deg);
   }
  }

  .item-img {
   max-width: 80px;
   img {
     height: auto;
     max-width: 100%;
   }
  }

 }

}

.align-items-center {
 align-items: center;
}
</style>