<template>
  <div class="cart-detail row align-items-start py-2">
    <div class="col col-sm-12">
      <div class="row">
       <div class="item-img">
        <img v-if="cartImg" :src="cartImg" class="img-fluid">
       </div>
       <div class="col title-col">
        <div>
         <h3 class="product-title">{{ cartTitle }}</h3>
         <h3 v-if="cartVariant" class="product-variant">{{ cartVariant }}</h3>
        </div>
        <h3 class="quantity">{{ cartQuantity }} X ${{ cartPrice }}</h3>
       </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    cart: {
      type: Object,
      default: () => ''
    }
  },
  data() {
    return {
    }
  },
  computed: {
    cartTitle() {
      return this.cart.name
    },
    cartPrice() {
      return this.cart.price
    },
    cartImg() {
      return this.cart.image
    },
    cartQuantity() {
      return this.cart.quantity
    },
    cartVariant() {
      return this.cart.variant
    }
  },
  methods: {
  }
}
</script>

<style lang="scss" scoped>
.row {
 display: flex;
 margin-left: 0;
 margin-right: 0;
 flex-direction: row;
 &.cart-detail {
  padding: 1em 0;
 }

 .col {
  display: inherit;
  flex-direction: column;

  h3 {
   margin: 0;
  }

  .title-col {
   margin-left: 1em;
   justify-content: space-between;
  }

  .product-title {
   font-family: 'Lato';
   font-size: 1.2em;
   font-weight: 700;
   line-height: 1;
  }

  .product-variant, .quantity {
   font-family: 'Lato';
   font-size: 1.2em;
   font-weight: 400;
   line-height: 1;
   margin-top: 0.5em;
  }

  .item-img {
   max-width: 100px;
   img {
     height: auto;
     max-width: 100%;
   }
  }
 }
}

.align-items-center {
 align-items: center;
}
</style>