<template>
 <div>
  <div class="mrow">
   <div class="col-sm-8">

    <div class="mrow">
     <div class="col-sm-4 px-0">
      <h2 class="headCopy chronicleRoman">Delivery Method</h2>
      <div class="normal-text">Deliver to:</div>
      <div class="strong-text">{{ recipient }}</div>
      <div class="normal-text">{{ contactInfo }}</div>
      <div class="normal-text">{{ address }}</div>
     </div>
     <div class="col-sm-8 px-0">
      <h2 class="headCopy chronicleRoman">Payment Info</h2>
      <div class="mrow">
       <div class="col-sm-3 px-0">
        <div class="important-img">
         <img :src="importantImg" class="img-fluid">
        </div>
       </div>
       <div class="col-sm-9">
        <div class="strong-text">IMPORTANT</div>
        <div class="normal-text">Upon delivery, your Michigan Medical Marijuana Card Must be present in order to complete order.</div>
       </div>
      </div>
     </div>
    </div>

    <div class="mrow">
     <div class="col-sm-12 px-0">
      <h2 class="headCopy chronicleRoman">Shopping Cart</h2>
     </div>
    </div>
    <div class="mrow">
     <div class="col-sm-6 col-xl-8 px-0">
      <div
        v-for="(item, index) in cart"
        :key="`cart-item-${index}`"
        class="cart-items py-3">
        <checkout-item :cart="item"/>
      </div>
     </div>
     <div class="col-sm-6 col-xl-4">
      <div class="strong-text">Delivery:</div>
      <div class="normal-text">Standard Delivery (+$5.00)</div>
      <div class="instructions-container mt-2">
       <div class="strong-text">Instructions:</div>
       <textarea name="instructions" rows="10" cols="50"></textarea>
      </div>
     </div>
    </div>
    <hr>
   </div>

   <div class="col-sm-4">
    <h2 class="headCopy chronicleRoman">Order Summary</h2>
    <hr>
    <div class="mrow fs-15"><div class="chronicleRoman">Subtotal</div><div class="price">{{ subtotal }}</div></div>
    <div class="mrow fs-15"><div class="chronicleRoman">Delivery Method</div><div class="price">{{ shippingMethod }}</div></div>
    <div class="mrow">
      <div class="radio-container fs-12 f-400">
       <!-- <label class="select-container"><span>Pick-up in store (Free)</span>
         <input type="radio" checked="checked" v-model="shippingMethod" value=0>
         <span class="checkmark"></span>
       </label>
       <select v-if="shippingMethod == 0" v-model="pickupLocation">
         <option disabled value="">Please select one</option>
         <option>Flint</option>
         <option>Battle Creek</option>
       </select>
       <label class="select-container"><span>Standard Delivery (+$5.00)</span>
         <input type="radio" v-model="shippingMethod" value=5>
         <span class="checkmark"></span>
       </label> -->
       Standard Delivery (+$5.00)
      </div>
    </div>
    <div class="mrow fs-15"><div class="chronicleRoman">Promo Code</div><div class="price">{{ shippingMethod }}</div></div>
    <div class="mrow fs-15"><div class="chronicleRoman">Tax (###%)</div><div class="price">{{ shippingMethod }}</div></div>
    <hr>
    <div class="mrow fs-15"><div class="chronicleRoman">Total</div><div class="price">{{ total }}</div></div>
    <div class="mrow fs-15"><div class="checkout-btn f-700 chronicleRoman">Place Order</div></div>
   </div>
  </div>

  <!-- end here -->
  <!--
  <div class="col-sm-8">
   <h2 class="headCopy chronicleRoman">Shopping Cart</h2>
   <hr>
   <div class="row-header fs-12">
    <div class="col-sm-8">ITEM</div>
    <div class="col-sm-2">QUANTITY</div>
    <div class="col-sm-2">PRICE</div>
   </div>
   <hr>
   <div
     v-for="(item, index) in cart"
     :key="`cart-item-${index}`"
     class="cart-items py-3">
     <cart-item :cart="item"/>
   </div>
   <div class="promo-code">
     <h3 class="fs-12 f-400">PROMO CODE</h3>
     <div class="mrow">
      <input type="text" class="promo-text-code fs-15">
      <div class="submit-btn fs-15 f-700 chronicleRoman">Submit</div>
     </div>
     

   </div>
  </div>
  <div class="col-sm-4">
   <h2 class="headCopy chronicleRoman">Order Summary</h2>
   <hr>
   <div class="mrow fs-15"><div class="chronicleRoman">Subtotal</div><div class="price">{{ subtotal }}</div></div>
   <div class="mrow fs-15"><div class="chronicleRoman">Shipping Method</div><div class="price">{{ shippingMethod }}</div></div>
   <div class="mrow">
     <div class="radio-container fs-12 f-400">
      <label class="select-container"><span>Pick-up in store (Free)</span>
        <input type="radio" checked="checked" v-model="shippingMethod" value=0>
        <span class="checkmark"></span>
      </label>
      <select v-if="shippingMethod == 0" v-model="pickupLocation">
        <option disabled value="">Please select one</option>
        <option>Flint</option>
        <option>Battle Creek</option>
      </select>
      <label class="select-container"><span>Standard Delivery (+$5.00)</span>
        <input type="radio" v-model="shippingMethod" value=5>
        <span class="checkmark"></span>
      </label>
     </div>
   </div>
   <div class="mrow fs-15"><div class="chronicleRoman">Promo Code</div><div class="price">{{ shippingMethod }}</div></div>
   <div class="mrow fs-15"><div class="chronicleRoman">Tax (###%)</div><div class="price">{{ shippingMethod }}</div></div>
   <hr>
   <div class="mrow fs-15"><div class="chronicleRoman">Total</div><div class="price">{{ total }}</div></div>
   <div class="mrow fs-15"><div class="checkout-btn f-700 chronicleRoman">Proceed to checkout</div></div>
  </div>
  -->
 </div>
</template>

<script>
  import CheckoutItem from './CheckoutItem'

  export default {
      components: {
        CheckoutItem
      },
      data () {
        return {
         recipient: 'Raymond Go',
         contactInfo: '(616) 200-4991',
         address: '12422 Mcmurty Dr Sand Lake, Michigan(MI), 49343',
         importantImg: 'http://www.commoncitizen.com/brand/wp-content/uploads/2019/05/Michigan-Medical-Marijuana-Card.jpg',
         shippingMethod: 0,
         pickupLocation: '',
         cart: [{
           name: 'PAX Vape Pen Starter',
           price: 99,
           image: 'http://cc.test/wp-content/uploads/2019/06/CC_Vape_Premium_600x600.png',
           quantity: 1,
           variant: ''
         },
         {
           name: 'OG Kush Pre-roll',
           price: 38,
           image: 'http://cc.test/wp-content/uploads/2019/06/CC_Preroll3_SweetRelief_600x600.png',
           quantity: 1,
           variant: '5 Pre-rolls'
         },
         {
           name: 'Disappearing Act Whole Flower',
           price: 58,
           image: 'http://cc.test/wp-content/uploads/2019/06/CC_DailyDose_600x600.png',
           quantity: 2,
           variant: '1/8 oz'
         }]
        }
      },
      computed: {
       subtotal() {
        let total = [];

        Object.entries(this.cart).forEach(([key, val]) => {
            total.push(val.price) // the value of the current key.
        });

        return total.reduce(function(total, num){ return total + num }, 0);
       },
       total() {
        return parseInt(this.subtotal) + parseInt(this.shippingMethod);
       }
      },
      mounted() {
        console.log('Component mounted.')
      },
      methods: {
      }
  }
</script>
<style lang="scss">
  .row-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  .mrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em 0;
  }
  .promo-code {
   padding: 1em 0.5em;
   .mrow {
    justify-content: flex-start;
   }
   h3 {
    margin-bottom: 5px;
   }
   .promo-text-code, .submit-btn {
    border: 1px solid #000;
    padding: 0.5em;
   }
   .submit-btn {
    padding: 0.5em 2em;
    margin-left: 0.5em;
    cursor: pointer;
    &:hover {
     background: #000;
     color: #fff;
    }
   }
  }

  .radio-container {
   position: relative;
   padding-left: 1em;
   input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   .checkmark {
     position: absolute;
     top: 0;
     left: 0;
     height: 25px;
     width: 25px;
     background-color: #fff;
     border-radius: 50%;
     border: 1px solid #000;
   }
   .select-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
   }
   .select-container:hover input ~ .checkmark {
     background-color: #ccc;
   }
   .select-container input:checked ~ .checkmark {
     background-color: #fff;
   }
   .checkmark:after {
     content: "";
     position: absolute;
     display: none;
   }
   .select-container input:checked ~ .checkmark:after {
     display: block;
   }
   .select-container .checkmark:after {
     top: 4px;
     left: 4px;
     width: 15px;
     height: 15px;
     border-radius: 50%;
     background: #000;
   }
   select {
    margin: 0.5em 2em 1em;
   }
  }
  hr {
   border-top: 2px solid #ccc;
  }

  .checkout-btn {
   text-align: center;
   border: 1px solid #000;
   background: #000;
   color: #fff;
   cursor: pointer;
   padding: 0.5em 0;
   width: 100%;
   &:hover {
    background: #fff;
    color: #000;
   }
  }

  .important-img {
   max-width: 180px;
   img {
     height: auto;
     max-width: 100%;
   }
  }

  .strong-text {
   font-family: 'Lato';
   font-size: 1.2em;
   font-weight: 700;
  }

  .normal-text {
   font-family: 'Lato';
   font-size: 1.2em;
   font-weight: 400;
  }

  textarea {
   resize: none;
  }
  .chronicleRoman {
   font-family: 'ChronicleDisplay-Roman';
  }
  .mt-2 {
   margin-top: 1em;
  }
  .py-1 {
   padding-top: 0.5em;
   padding-bottom: 0.5em;
  }
  .px-0 {
   padding-left: 0;
   padding-right: 0;
  }
  .fs-12 {
   font-size: 1.2em;
  }
  .fs-15 {
   font-size: 1.5em;
  }
  .f-400 {
   font-weight: 400;
  }
  .f-700 {
   font-weight: 700;
  }
</style>
