<template>
    <div class="container">
        <div @click="popup = true" class="in-store">Add to cart</div>
        <div v-if="popup">
            <login></login>
        </div>
    </div>
</template>

<script>
    import Login from './Login'
    export default {
        components: {
            Login
        },
        data () {
            return {
                popup: false
            }
        },
        computed: {
            productId() {
                return this.$attrs.productid
            }
        },
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            getProducts() {
            }
        }
    }
</script>
<style>
    .in-store {
        color: white;
        font-size: 22px;
        font-weight: bold;
        line-height: 32px;
    }
</style>
