<template>
    <div id="popup1" class="overlay">
        <div class="popup">
            <h1>Login</h1>
            <a @click="$parent.popup = false" class="close" href="#">&times;</a>
            <div class="contents">
                <form action="">
                    <div style="padding: 15px 0">
                    <label for="Username">Email</label>
                    <input type="text" v-model="form.username" >
                    </div>
                    <a href="#" style="text-align: right;float: right;">Forgot your password?</a>
                    <div style="margin: 15px 0">
                    <label for="Password">Password</label>
                    <input type="password" v-model="form.password">
                    </div>
                    <div @click="submit()" class="in-store" style="width: 100%; text-align: center; height: 50px">Login</div>
                    <div style="margin-top: 15px">
                    <a href="#" style="width: 100%;text-align: center;display: block">I don't have an account now. Register Now.</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {

  name: 'Login',

  data () {
    return {
        form: {
            username: '',
            password: ''
        }
    }
  },
  methods: {
    submit () {
        if (this.form.username == 'test@test.com' && this.form.password == 'testtest')
        {
            axios.get('http://store.cc.test/?add-to-cart=10726')
            .then(response => {
                setTimeout(() => {
                    window.location.replace('/cart?add-to-cart=10726')
                }, 1000);
            })
        }
    }
  }
}
</script>

<style lang="css" scoped>
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
  z-index: 9999999999999;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h1 {
  margin-top: 0;
  font-family: 'ChronicleDisplay-Roman';
  font-size: 48px;
  font-weight: boldest;
  line-height: 32px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 40px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
.popup .close:hover {
  color: black;
}
.popup .contents {
  max-height: 30%;
  overflow: auto;
}
input {
    height: 50px;
    box-shadow: none;
    border: 1px solid #050505;
    width: 100%;
    box-shadow: 0px 1px 5px 0px #aaaaaa inset;
    border: 1px solid #aaaaaa;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
</style>
