@font-face{font-family:'ChronicleDisplay-Black';src:url("ChronicleDisplay-Black.eot?#iefix") format("embedded-opentype"),url("ChronicleDisplay-Black.otf") format("opentype"),url("ChronicleDisplay-Black.woff2") format("woff2"),url("ChronicleDisplay-Black.woff") format("woff"),url("ChronicleDisplay-Black.ttf") format("truetype"),url("ChronicleDisplay-Black.svg#ChronicleDisplay-Black") format("svg");font-weight:normal;font-style:normal}
