
@font-face {
  font-family: 'Lato-Hairline';
  src: url('Lato-Hairline.eot?#iefix') format('embedded-opentype'),  url('Lato-Hairline.otf')  format('opentype'),
	     url('Lato-Hairline.woff') format('woff'), url('Lato-Hairline.ttf')  format('truetype'), url('Lato-Hairline.svg#Lato-Hairline') format('svg');
  font-weight: normal;
  font-style: normal;
}
