form.cart.variations_form {
	position: relative;	
  margin-top: 70px;
  margin-bottom: 0;

  @media (max-width: 991px) {
    margin-top: 0;
  }

  table.variations {
    display: inline-block;
    width: auto !important;
    min-width: 300px;
    padding-right: 10px;
    vertical-align: top;
    margin-bottom: 0;

    @media (max-width: 991px) {
      min-width: 1px;
      padding-right: 0 !important;
    }
    @media (min-width: 992px) {
      max-width: 80%;
    }

    table, thead, tbody, th, td, tr {
      display: block;
      text-align: left;
      @media (max-width: 991px) {
       padding-right: 0;
      }
    }

    select {
      border-radius: 0;
      width: 100%;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      padding-left: 10px;
      margin-right: 0;
      font-size: 17px;
      font-weight: 400;
      cursor: pointer;
    }

    tr {
      position: relative;
    }
    
    .down-arrow {
      position: absolute;
      top: 41px;
      right: 14px;
      content: '';
      width: 0;
      height: 0;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 12px solid #4a4a4a; 
      pointer-events: none;
    }

    td.label {
      font-size: 13px;
      line-height: 1;
      padding-top: 0;
      padding-bottom: 0;

      @media (max-width: 767px) {
       padding: 0;
      }

      label {
        font-weight: 400 !important;
        line-height: 1.5em;
      }
    }

    .reset_variations {
      display: none !important;
    }    
  }

  .quantity-container {
    display: inline-block;
    vertical-align: top;

    // This is the 'Qty' label
    .\.ivpa_title{
      line-height: 1.5em;
      font-size: 13px;
      font-weight: 400 !important;
      margin-bottom: 5px;
    }

    .quantity {
      float: none;
      margin-right: 0;

      input {
        color: rgb(90, 86, 86);

        @media (max-width: 991px) {
          width: 40px;
        }
      }
    }

    .qty.text {
      font-size: 17px;
      font-weight: 400;
      font-family: 'Lato', Arial, sans-serif;
    }
  }


  .single_variation_wrap {
    // padding-top: 20px;

    .single_variation {
      // margin-top: -20px;
      display: none !important;
    }

    .single_variation,
    .woocommerce-variation-description p {
      margin-bottom: 20px;
    }
    .woocommerce-variation-price span.price,
    .woocommerce-variation-availability .stock {
      font-size: 18px;
    }

    .woocommerce-variation-price {
      margin-top: 10px;
      line-height: 20px;
    }

  }

  .single_add_to_cart_button {
    background-color: #000 !important;
    color: #fff !important;
    border-color: #000 !important;
    margin-top: 28px;
    border-radius: 0;

    @media (max-width: 991px) {
      float: none;
      width: 100%;
    }
  }
}

*:not(form) {
  .single_add_to_cart_button {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

form.cart {
  margin-bottom: 0;  
}

form.cart:not(.variations_form),
.single_variation_wrap {

  @media (max-width: 991px) {
    margin-top: 20px;
  }
}

.in-store {
  margin-top: 25px;

  @media (max-width: 991px) {
    margin-top: 20px;
    margin: auto;
    text-align: center;
  }
}