div.images {
  .flex-control-thumbs  {
    text-align: center;

    li {
      width: 16%;
      float: none;
      display: inline-block;
      
      img {
        border: 1px solid #5c5a5a;
      }
    }
  }
}