@import 'singleProduct';
@import 'pagination';

// Quickfixes
.prdctfltr_woocommerce.pf_default_inline .prdctfltr_filter .prdctfltr_checkboxes > label.prdctfltr_active span:before {
  display: none;
}

.woocommerce.archive ul.products li.product:not(:nth-of-type(3n+3)) {
  border-right-width: 1px;
}

.woocommerce ul.products li.product .price {
  font-weight: 300;
}

@media (min-width: 768px) {
  .archive ul.products li.product, .post-type-archive-product ul.products li.product {
    padding-bottom: calc(10em + 15px) !important;
    margin-bottom: -10em !important;
  }
}

@media (max-width: 767px) {
  .shopping-cart-wrapper {
    position: relative;
    right: 27px;
    z-index: 50;
  }

  .ffb-id-navigation-header .ffb-header-design .ffb-header-design-inner a i.icon-shopping-cart:before {
    color: #000 !important;
  }
}

// Fixes scrollbar on IE
body {
  -ms-overflow-style: scrollbar;
}