.woocommerce .woocommerce-pagination-wrapper {
  .paginations-v3-list {
    position: absolute;
    right: 0;
    top: 0;
    
    .page-numbers.current:hover {
      background: transparent !important;
    }
    a.page-numbers:not(.current):hover {
      background: #dedede !important;
      color: #000 !important;
      transition: all 0.3s ease-out;
      cursor: pointer;
    }
  }

  @media (max-width: 991px) {
    float: none;
    margin-bottom: 20px;
      
    .page-numbers {
      padding-left: 0;
    }
  }

}

.prdctfltr_woocommerce.pf_default_inline .prdctfltr_filter_inner {
  .prdctfltr_filter.prdctfltr_perpage {
    @media (min-width: 641px) and (max-width: 900px) {
      margin-top: 15px;
    }
    
    .prdctfltr_checkboxes > label {
      display: inline-block;
      width: 1.5em;
      text-align: center;
      transition: all 0.3s ease-out;

      span {
        color: #777;
      }
      &.prdctfltr_active span {
        color: #000;
      }

      &:hover,
      &.prdctfltr_active:hover {
        background: #000;

        span {
          color: #fff;
        }
      }

    }
  }

  @media (min-width: 641px) and (max-width: 900px) {
    margin-bottom: 15px;
  }
}

// Pagination alignment and filters height quickfix for cannabis main store page
.term-cannabis,
.term-daily-dose,
.term-sweet-relief,
.term-unplug,
.term-time-to-shine {
  @media (max-width: 900px) {
    .catalog-ordering.fusion-clearfix {
      height: 0 !important;
    }
  }

  @media (min-width: 768px) and (max-width: 900px) {
    .paginations-v3-list {
      margin-top: -10px !important;
    }
    .woocommerce ul.products {
      margin-top: 15px !important;
    }

  }
  @media (min-width: 901px) and (max-width: 991px) {
    .paginations-v3-list {
      height: 70px !important;
      max-height: none !important;
      margin-top: -118px !important;
    }
  }
}