.product-title {
  margin-bottom: 5px;
}

.product-single-price p {
  font-size: 28px !important;
  margin-bottom: 15px;
  color: #050505 !important;
}

.woocommerce-Price-currencySymbol {
    vertical-align: top;
    font-size: 2rem;
}
