@media (min-width: 768px) and (max-width:768px) {
  .site-main > ul.products[class*=columns-] li.product {
    width: 33.33% !important;
    float: left !important;

    &:not(:nth-child(3n+1)) {
      clear: none !important;
    }
    &:nth-child(3n+1) {
      clear: both !important;
    }
  }

  
}

ul.products li.product {
  .archive-product-name .woocommerce-loop-product__title {
    font-family: custom-font-family-1, Arial, sans-serif !important;
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    padding-bottom: 0;

    @media (min-width: 768px) {
      font-size: 2rem;
      padding: 0;
    }

    @media (max-width: 767px) {
        white-space: normal;
    }
  }
  .related-subheading {
    font-weight: 400;
    padding-top: 0;
    font-weight: 400;
    margin-top: 0.2em;
    font-size: 1.1em;
    letter-spacing: 0.03em;
    padding-bottom: 0.9em;    
  }
  .related-category {
    font-weight: 400;
    text-decoration: underline;
  }
  .btn-base-md {
    vertical-align: middle;
    padding: 12px;
  }
  .button.add_to_cart_button.product_type_variable,
  .button.add_to_cart_button.product_type_simple {
    margin-top: 0;
    //text-transform: lowercase;
    width: 65px;
    height: 23px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 24px;
    vertical-align: middle;
    letter-spacing: 0.08em;
    font-size: 1.06em;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.related-products ul.products li.product {
  .archive-product-name .woocommerce-loop-product__title {
    @media (max-width: 767px) {
      height: 4em;
    }

    @media (min-width: 992px) and (max-width: 768px) {
      font-size: 1.78rem;
      line-height: 1.3;
      padding-top: 0;
    }

  }

  .archive-need-state {
    font-size: 15px;
    padding-top: 4px;
  }

  .archive-need-state + p {
    font-size: 14px;
  }
}

