@font-face{font-family:'ChronicleDisplay-XLight';src:url("ChronicleDisplay-XLight.eot?#iefix") format("embedded-opentype"),url("ChronicleDisplay-XLight.otf") format("opentype"),url("ChronicleDisplay-XLight.woff2") format("woff2"),url("ChronicleDisplay-XLight.woff") format("woff"),url("ChronicleDisplay-XLight.ttf") format("truetype"),url("ChronicleDisplay-XLight.svg#ChronicleDisplay-XLight") format("svg");font-weight:normal;font-style:normal}
